.profile__edit {
  display: inline-block;
  height: 24px;
  width: 24px;
  border: 1px solid #fff;
  box-sizing: border-box;
  background: no-repeat center url(../../../images/edit-pen.svg);
  cursor: pointer;
  transition: ease-in 0.07s opacity;
  display: inline-block;
}

.profile__edit:hover {
  opacity: 0.6;
}

.profile__edit:focus {
  outline: none;
}

@media screen and (max-width: 565px) {
  .profile__edit {
    height: 18px;
    width: 18px;
  }
}
