.profile__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 565px) {
  .profile__subtitle {
    max-width: 280px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}
