@import url(./__container/edit-form__container.css);
@import url(./__button-close/edit-form__button-close.css);
@import url(./__title/edit-form__title.css);
@import url(./__form/edit-form__form.css);
@import url(./__content/edit-form__content.css);
@import url(./__item/edit-form__item.css);
@import url(./__item/_type/edit-form__item_type_name.css);
@import url(./__item/_type/edit-form__item_type_about.css);
@import url(./__button/edit-form__button.css);

.edit-form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
