@import url(./_place/popup__button-close_place_edit-popup.css);
@import url(./_place/popup__button-close_place_add-element.css);

.popup__button-close {
  display: block;
  background: url(../../../images/close-icon.png);
  width: 50px;
  height: 50px;
  position: absolute;
  left: calc(50% + 430px / 2 - 8px);
  top: calc(50% - 330px / 2 - 40px);
  border: 0;
  padding: 0;
  background-position: center;
  cursor: pointer;
  transition: ease-in 0.07s All;
  transition-property: opacity, transform;
}

.popup__button-close:hover {
  opacity: 0.6;
  transform: rotate(45deg);
}

.popup__button-close:active {
  outline: none;
}

.popup__button-close:focus {
  outline: none;
}

@media screen and (max-width: 565px) {
  .popup__button-close {
    left: calc(50% + 430px / 2 - 105px);
    top: calc(50% - 330px / 2 - 50px);
  }
}
