.button-close_position_edit-form {
  left: calc(50% + 430px / 2 - 8px);
  top: calc(50% - 330px / 2 - 40px);
}

@media screen and (max-width: 565px) {
  .button-close_position_edit-form {
    left: calc(50% + 430px / 2 - 105px);
    top: calc(50% - 330px / 2 - 50px);
  }
}
